/** Basic Portfolio **/

* {
    box-sizing: border-box;
}

/* settings for main document */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: #fff;
    border-color: #ddd;
    color: #777;
    text-align: center;
    margin: 0;
    padding: 0;  
}
/* page content setup */
.container {
    width:960px;
    margin: 10px auto;
    display: inline-block;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
/* 
firstline {
    border-color: #ccc;
    background-color: purple; */
    /* padding: 20px; */
/* } */

/* headings setup */
h1, h2, h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: Bold;
}

h1 {
    background-color: #4aaaa5;
    color:white;
    font-size: 24px;
    font-style: Bold;
    float: left;
    padding: 20px;
}

h2 {
    clear: both;
    color: #4aaaa5;
    font-size: 22px;
    font-style: bold;
    background-color: #fff;
    border-bottom: 2px solid #ddd;
    margin: 0px 20px 20px 0px;
    padding: 20px 20px 10px 20px;
}

h3 {
    clear: both;
    color: #4aaaa5;
    font-size: 18px;
    background-color: white;
    padding: 20px 20px 10px 20px;
    border-bottom: 2px solid #ddd;
}

/* font for Portfolio labels */
h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #4aaaa5;
    color: white;
    width: 270px;
    height: 30px;
    font-style: bold;
    line-height: 1.5;
    text-align: center;
    padding: 5px;
    position: absolute;
    margin-left: 10px;
    top: 160px;
}

/* navigation */
nav {
    font-size: 14px;
    color: #888;
    float: right;
    padding: 20px;
    width: 270px;
}

/* main layout for About me and Contact page sections */
#aboutme {
    clear: both;
    width: 630px;
    float: left;
    margin-bottom: 20px;
    padding: 20px; 
    overflow: inline;
    background-color: #fff;
    text-align: left;
}

/* main layout for Portfolio page sections */
#portfolio {
    clear: both;
    width: 630px;
    height: 760px;
    float: left;
    margin-bottom: 20px;
    padding: 20px; 
    overflow: inline;
    background-color: #fff;
    text-align: left;
}

/* Connect Me layout */
aside {
    overflow: inline;
    float: left;
    margin-left: 20px;
    padding: 20px;
    width: 270px;
    height: 175px;
    border: 1px #fff;
    background-color: #fff;
}

/* Photo layout */
img {
    float: left;
    margin: 0px 10px 10px 10px;
    background-color: #fff;
}

/* Layout for Social icons */
#social {
    padding: 20px 10px 20px 10px;
    margin: 0px;
}

/* Text Layout for About me section */
p {
    display: inline;
    line-height: 1.5;
    overflow: auto;
}

/* Contact form: Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 570px; /* Partial width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    /* Margin-left: 20px; */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
    /* float: left; */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    /* float: left; */
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: teal;
    clear: both;
}

/* form width and alignment */
form {
    width: 630px;
    text-align: left;

}

/* Portfolio Images */

#photo1 {
    position: relative;
    width: 100%;    
}

#photo2 {
    position: absolute;
    top: 190px;
    margin-left: 300px;
    width: 100%;  
    overflow: inline; 
}

#photo3 {
    position: absolute;
    top: 410px; 
}

#photo4 {
    position: absolute;
    top: 410px;
    margin-left: 300px;
    width: 100%;  
    overflow: inline; 
}

#photo5 {
    position: absolute;
    top: 630px;
}

/* footer missing top border */
footer {
    width: 960px;
    display: inline-block;
    clear: both;
    position: center;
    bottom: 0;
    margin-top: 20px;
    padding: 20px;
    background-color: #666;
    color: white;
    text-align:center;
    border-top-color: #4aaaa5 20px;
}

 